extends ../shared/template

block content

  .add-new-wrapper
    .add-new-content
      form(method='POST', action='/songs', enctype='multipart/form-data')
        input(type='text', name='name', placeholder='Song Name')
        p.photo Album of song
        select(name='albumId')
          each album in albums
            option(value=album._id) #{album.name} (#{album.artist.name})
        .clear
        p.photo Song file
        input(type='file', name='file')
        .clear
        input(type='text', name='genres', placeholder='Genres')
        button Add Song


  #library-nav
    ul
      li
        a(href='/artists') artists
      li
        a(href='/albums') albums
      li
        a(href='/songs') songs

  #main-content

    h1.title Songs
    a.btn-addnew(href='#') Add new song
    a.btn-filter(href='#') Filter songs by genre
    .clear
    br
    #genres
      each genre in genres
        a.genre(href='/songs/filter/#{genre}')
          p= genre

    #songlist
    each song in songs
      //img.album-detail(src='/img/#{albums[0].name}/#{albums[0].photo.originalFilename}')
      .song
        h2.song-title= song.name
        .songdelete
          form(method='POST', action='/songs/#{song._id}')
            input(type='hidden', name='_method', value='DELETE')
            button
              i.fa.fa-trash-o
        p.inline Album: #{song.album.name}
        p.inline Artist: #{song.album.artist.name}
        .clear
        audio(src='#{song.file}', controls=true)
